/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

@font-face {
    font-family: 'ferbtasticregular';
    src: url('fonts/phineas_and_ferb_font_for_nick_2-webfont.eot');
    src: url('fonts/phineas_and_ferb_font_for_nick_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/phineas_and_ferb_font_for_nick_2-webfont.woff') format('woff'),
         url('fonts/phineas_and_ferb_font_for_nick_2-webfont.ttf') format('truetype'),
         url('fonts/phineas_and_ferb_font_for_nick_2-webfont.svg#ferbtasticregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 	background-color: #FFF;
 	width: 850px;
 	margin: 0 auto;
 }

.l-container {
	margin: 10px 30px;
	padding: 5px 0;
	background-color: #A1D4E9;
	border-radius: 10px;
}

header, fieldset {
	margin: -10px;
	border-radius: 5px;
	border: none;
	padding: 10px;
}		

legend {
	padding: 10px 0 0 10px;
	color: #FFF;
	font-size: 1.2em;
}

.inputs {
	margin: 10px;
}

.inputs input {
	font-size: 16px;
}

header, #data-form, section {
	margin: 10px;
}

h1 {
	font-family: ferbtasticregular;
	font-size: 4em;
	color: #EA2227;
	text-align: center;
}

button {
	font-size: 1.5em;
	font-weight: lighter;
	font-family: ferbtasticregular;
	background-color: #FEE300;
	border-radius: 20px;
	padding: 5px 20px 10px 20px;
	margin: 0 10px;
	color: #EA2227;
	border: 2px solid #EC5724;
}

/*header {
 	background-color: silver;
 }
*/
#data-form {
 	background-color: #e67e22;
 	border-radius: 10px;
 }

section {
 	border: 1px solid gray;
 	background-color: #16a085;
 	border-radius: 10px;
 }

#quote-list {
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0;
}

blockquote > p {
	font-style: italic;
	font-weight: bolder;
	font-size: 1.5em;
}

.author-filter {
	font-size: 1.5em;
}

.author-filter:hover {
	color: #FFAE42;
	text-decoration: underline;
}

img {
	width: 30px;
	height: 30px;
}

.float-right {
	float: right;
	padding: 0 50px 10px 0;
}

.float-left {
	float: left;
	padding-left: 50px;
}

.clearfix {
	overflow: hidden;
}

